@import 'settings'

.documents
  .gallery
    &-wrapper
      flexy row wrap
      justify center center
    &-item
      display inline-block
      flex 0 0 20vw
      size 20vw
      margin 15px
      overflow hidden
      &-image
        cursor pointer
        size 100%
        background-size cover
        background-position center center
        background-repeat no-repeat

