@import 'nib'
@import 'settings'

.index
  min-width: 100%
  min-height: 100%
  // background: url(/images/background.png) 50% 50% no-repeat
  background: url(/images/background.jpg) 50% 50% no-repeat
  background-size: cover

  padding: 5vmin
  flexy column nowrap
  position: relative

  .logotype
    flex: 2 1
    color: white
    width: 100%
    flexy column nowrap
    justify-content: center
    align-items: center
    padding: 2vh 0

    +tablet()
      flex: 1 1 auto
    &-img
      width: 300px
      img
        width: 300px

    &-link
      width: 180px
      text-align: center
      margin-top: 10px
      font-size: 17px
      text-shadow: 1px 1px 0.4px rgba(0,0,0,0.5)
      // display: none

  &-menu
    flex: 1 1 auto
    width: 100%
    flexy row wrap
    justify-content: space-between
    flex-wrap: wrap
    align-items: center
    &:before
      +tablet()
        display: inline-block
        flex: 0 0 auto
        size: 25vw
        content: ""
        order: 5
        opacity: 0
      +mobile()
        display: none

    +tablet()
      flex: 5 1 auto

    &-item
      order: 9
      flex: 0 0 auto
      size: 20vw
      margin: 1.1vw 0
      overflow: hidden
      transform: translate3d(0,0,0)
      border-radius: 10px
      background-color: rgba(255,255,255,0.3)
      transition: background-color 0.1s ease
      text-align: center
      padding: 3.5vw 3.5vw 2.5vw 3.5vw
      overflow: hidden

      +tablet()
        flex: 0 0 auto
        size: 25vw
        padding: 5vw 2vw 1vw 2vw
      +mobile()
        size: 25vmax

      box-sizing: border-box
      cursor: pointer
      flexy column nowrap
      justify-content: space-between
      align-items: center

      +tablet()
        justify: center

      for i in 1..8
        &:nth-child({i})
          order: i

      &:hover
        background-color: rgba(0,0,0,0.3)

      &-icon
        flex 0 0 11vw
        flexy row wrap
        width: 13vw
        height: 11vw
        justify-content: center
        align-items: center
        text-align: center
        +tablet()
          width: 11vw
          height: 9vw
        +mobile()
          size: 11vmax 9vmax
        img
          width: 70%
          +tablet()
            width: 90%



      &-label
        flex 0 0 auto
        color: white
        text-shadow: 1px 1px 0.4px rgba(0,0,0,0.5)
        thin()
        +tablet()
          flex 1 0 auto
          margin-top 3vw
        +mobile()
          flex 0 0 auto
          margin-top 3vh



