@import 'nib'
@import 'settings'

.login
  min-width: 100%
  min-height: 100%
  background: url(/images/background.jpg) 50% 50% no-repeat
  background-size: cover

  padding: 5vmin
  flexy column nowrap
  position: relative

  .logotype
    flex: 1 1 auto
    color: white
    width: 180px
    flexy column nowrap
    justify-content: center
    align-items: center
    // padding-bottom: 2vh
    &-img
      width: 180px
      img
        width: 180px

    &-link
      width: 180px
      text-align: center
      margin-top: 10px
      font-size: 17px
      text-shadow: 1px 1px 0.4px rgba(0,0,0,0.5)

  .flipped
    flex 5 1 auto
    width 100%
    flexy row wrap
    justify-content space-between
    flex-wrap wrap
    align-items center
    flexy row nowrap
    justify center flex-start
    &-inner
      flex 0 0 auto
      size 50vw auto
      background rgba(255,255,255,0.5)
      border-radius 4px
      color #fff
      padding 5vh 5vw
      shadow()

      .title
        regular 1.5rem 1.5rem
        margin-bottom 2rem
      input
        width 100%
        border-radius 5px
        background rgba(255,255,255,0.4)
        border 1px solid #fff
        padding 0.7rem 1rem 0.6rem 1rem
        margin-bottom: 0.6rem
        light 1.2rem 1.4rem
        &:focus
          outline none


      input[type='submit']:not(.visible)
        width: 1px
        height: 1px
        opacity: 0
        position: absolute
        z-index: -50

      .submit.visible
        color: white
        light 1.2rem 2.2rem
        color: white
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        border-radius: 3px
        font-size: 18px
        text-align: center
        cursor: pointer
        border 1px solid #fff

        &.disabled
          opacity: .3
          pointer-events: none


      .input-bottom
        margin-top 2rem









