@import 'nib'
@import 'settings'

.network
  min-width 100%
  min-height 100%
  background url(/images/network.jpg) center center no-repeat
  background-size cover
  flexy column nowrap
  position relative
  padding 1vmin
  justify flex-start
  &.map
    min-height 580px
    height 100%

  &-points
    position absolute
    bottom 2vmin
    left 1vw
    size 98% 28%
    min-height: 220px
    overflow: hidden
    padding-top 2vmin
    &-wrapper
      size 100% 100%
      overflow-x scroll
      height 100%

    &-scroller
      height 100%
      flexy row nowrap
      justify flex-start stretch

    &-point
      color #fff
      flex 0 0 25vw
      margin-right 2vw
      thin 0.8rem 1rem
      padding 1vw
      position relative
      cursor pointer
      min-width 240px
      +tablet()
        flex 0 0 40vw
      +mobile()
        flex 0 0 60vw
      &.current
        background linear-gradient(bottom, rgba(255,255,255,0.6),rgba(255,255,255,0.3), rgba(255,255,255,0))
        shadow()
        &:before

          content ''
          display block
          position absolute
          top 7px
          right 7px
          z-index 0
          size 30px
          background transparent
          border 1px solid #044B8D
          round()



        &:after
          content ''
          display block
          position absolute
          top 15px
          right 15px
          z-index 0
          size 16px
          background #044B8D
          round()


      &-title
        thin 1.2rem 1.2rem
        padding-bottom 1rem
        position relative
        z-index 3
      &-role
        padding-bottom 1rem

  &-map
    position absolute
    size 90% 65%
    setPosition center
    top 5vmin
    text-align center
    +mobile()
      size 90% 50%
    &-wrapper
      height 100%
      max-width 94vw
      overflow auto
      position relative
    &-container
      // height 100%
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      width auto
      display inline-block
      background url('/images/worldmap.png') center center no-repeat
      background-size contain
      overflow hidden

      +responds(1150px)
        left: 50%
        top: 50%
        right: initial
        transform: translate(-50%,-50%)
        size: 900px 547px

      +responds(1000px)
        size: 760px 462px

      +responds(850px)
        size: 650px 395px

      +responds(730px)
        size: 500px 304px

      +responds(570px)
        size: 400px 243px




    img
      height 98%
      width auto

    &-points
      height 100%
      display inline-block
      margin 0 auto
      position relative
      overflow hidden
      img
        pointer-events none
        opacity 0
        height 100%
    .map-point
      position absolute
      size 2vw
      background #044B8D
      cursor pointer
      border-radius 500px
      transform translate(-20%,-20%)

      &.current
        background: transparent

        &:after
          display block
          content ''
          size 100%
          border-radius 500px
          background #044B8D

          @keyframes {pulse}
            0%
              transform scale(0.5)

            100%
              transform scale(1)

          animation pulse 0.7s ease reverse infinite




        &:before
          display block
          content ''
          size 200%
          position absolute
          top -54%
          left -52%

          background transparent
          border 1px solid #044B8D
          border-radius 500px
          opacity 0.6





  &-header
    flexy row
    flex 0 0 10vh
    justify flex-start center
    color white
    align-self flex-start
    padding-left 5vw
    &-goback
      display flex
      font-size 2rem
      line-height 3rem
      width 40px
      cursor pointer
      position relative
      z-index 20
      &:before
        icon "\f3d2"

    &-title
      display flex
      cursor pointer
      position relative
      z-index 20
      thin 1.2rem 3rem


  &-team
    flexy row
    flex 0 0
    justify center flex-start
    size 100%
    padding 0 10vmin
    &-member
      cursor pointer
      flexy column nowrap
      color white
      flex 0 0 25vw
      justify flex-start center
      margin 2vh 4vw 6vh 4vw
      shadow()
      &-avatar
        display flex
        round()
        size (86/7)vw (86/7)vw
        img
          width 100%
      &-name
        bold 1.4rem 2rem
        padding 0.4rem 0
        text-align center
      &-position
        thin 1.2rem 1.8rem
        width: 60%
        text-align: center
      &-mail
        thin 0.7rem 1rem
        display none





