white = #ffffff

lgrey = #F7F6F4
grey = #ededed
dgrey = #dadada



thin(size = 1rem, line = 1.4rem, space = 0.02rem)
  font: 200 size/line 'Helvetica Neue', Helvetica Neue, Helvetica, Arial
  -webkit-font-smoothing: antialiased
  letter-spacing space

light(size = 1rem, line = 1.4rem, space = 0.02rem)
  font: 200 size/line 'Helvetica Neue', Helvetica Neue, Helvetica, Arial
  -webkit-font-smoothing: antialiased
  letter-spacing space

regular(size = 1rem, line = 1.4rem, space = 0.02rem)
  font: 400 size/line 'Helvetica Neue', Helvetica Neue, Helvetica, Arial
  -webkit-font-smoothing: antialiased
  letter-spacing space

medium(size = 1rem, line = 1.4rem, space = 0.02rem)
  font: 600 size/line 'Helvetica Neue', Helvetica Neue, Helvetica, Arial
  -webkit-font-smoothing: antialiased
  letter-spacing space

bold(size = 1rem, line = 1.4rem, space = 0.02rem)
  font: 700 size/line 'Helvetica Neue', Helvetica Neue, Helvetica, Arial
  -webkit-font-smoothing: antialiased
  letter-spacing space



responds($size = '1000px')
  @media only screen and (max-width: $size)
    {block}

big()
  @media only screen and (min-width: 1200px)
    {block}

tablet()
  +responds(780px)
    {block}


setPosition($position)
  if $position == middle
    top: 50%
    transform: translateY(-50%)
  if $position == center
    left: 50%
    transform: translateX(-50%)
  if $position == perfect
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)




flexy($direction = row, $wrap = wrap)
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-flex-flow $direction $wrap
  -moz-flex-flow $direction $wrap
  -ms-flex-flow $direction $wrap
  flex-flow $direction $wrap

justify($just = center, $align = center)
  justify-content $just
  align-items $align


justify-content()
  -webkit-justify-content arguments
  -moz-justify-content arguments
  -ms-justify-content arguments
  justify-content arguments


align-items()
  -webkit-align-items arguments
  -moz-align-items arguments
  -ms-align-items arguments
  align-items arguments

align-content()
  -webkit-align-content arguments
  -moz-align-content arguments
  -ms-align-content arguments
  align-content arguments


flex()
  if length(arguments) > 0
    flex arguments
    -webkit-box-flex arguments
    -moz-box-flex arguments
    -webkit-flex arguments
    -moz-flex arguments
    -webkit-flex arguments
    -ms-flex arguments
  else
    -webkit-box-flex 0 0 auto
    -moz-box-flex  0 0 auto
    -webkit-flex 0 0 auto
    -moz-flex  0 0 auto
    -webkit-flex  0 0 auto
    -ms-flex  0 0 auto
    flex 0 0 auto


size($width = auto, $height = $width)
  width $width
  height $height

shadow()
  text-shadow 1px 1px 0.4px rgba(0,0,0,0.5)


round()
  border-radius 500px
  overflow hidden

icon(code = ' ')
  content: code
  display: inline-block
  font-family: "Ionicons"
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  text-rendering: auto
  line-height: 1
  -webkit-font-smoothing: antialiased